* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
}

.container {
  padding: 30px;
  margin: auto;
  position: relative;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: linear-gradient(45deg, #2190eb, #0c3e79);
  border-radius: 25px;
  -webkit-box-shadow: 0 0 5px #454343;
          box-shadow: 0 0 5px #454343;
  margin-top: 10px;
}

.row {
  margin-left: -15px;
  margin-right: -15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

[class*="col-"] {
  padding-left: 15px;
  padding-right: 15px;
}

.col-md-6 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 50%;
          flex: 0 0 50%;
  max-width: 50%;
}

.hello {
  background-color: rgba(255, 255, 255, 0.507);
  padding: 10px;
  border-radius: 15px;
  color: #fff;
  text-shadow: 0 0 5px black;
}

.weather {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
}

.date {
  font-size: 30px;
  margin-bottom: 15px;
  line-height: 1.2;
  text-transform: uppercase;
}

.time {
  font-size: 70px;
  font-weight: bold;
  margin-bottom: 10px;
}

.humidity,
.pressure,
.wind,
.feels-like,
.city {
  font-size: 20px;
  height: 40px;
  line-height: 40px;
}

.city {
  font-size: 30px;
  font-weight: bold;
}

.temperature {
  font-size: 30px;
  font-weight: bold;
}

.description {
  font-size: 35px;
  font-weight: bolder;
  margin-bottom: 20px;
}

.icon,
.temperature,
.feels-like,
.description,
.refresh {
  text-align: center;
}

.description {
  text-transform: uppercase;
}

.weather .icon {
  text-align: center;
  -webkit-box-shadow: 0 0 18px 4px #fff;
          box-shadow: 0 0 18px 4px #fff;
  margin-bottom: 10px;
  border-radius: 25px;
  background-color: rgba(255, 255, 255, 0.466);
}

.weather .icon img {
  width: 75px;
}

.swiper {
  position: relative;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  margin: 20px auto;
  color: #fff;
}

.swiper .swiper-slide {
  width: 500px;
}

.swiper .swiper-button-next:after,
.swiper .swiper-button-prev:after {
  color: #fff;
  text-shadow: 0 0 5px black;
}

.swiper-cube .swiper-cube-shadow:before {
  background-color: #fff;
}

.background {
  height:100vh;
}

.night-theme .background {
  background: url(images/night.svg);
}

.night-theme .container {
  background: url(images/container-bg-night.jpg);
}

.night-theme .swiper-cube .swiper-cube-shadow:before {
  background-color: #fff;
}

.morning-theme .background {
  background: url(images/morning.svg);
}

.morning-theme .container {
  background: url(images/container-bg-morning.jpg) no-repeat;
  background-size: cover;
  text-shadow: 0 0 5px black;
}

.morning-theme .demo {
  -webkit-box-shadow: 0 0 5px #00000070;
          box-shadow: 0 0 5px #00000070;
}

.day-theme .background {
  background: url(images/day.svg);
}

.day-theme .container {
  background: url(images/container-bg-day.jpg) no-repeat;
  background-size: cover;
  text-shadow: 0 0 5px black;
}

.day-theme .demo {
  -webkit-box-shadow: 0 0 5px #00000070;
          box-shadow: 0 0 5px #00000070;
}

.evening-theme .background {
  background: url(images/evening.svg);
}

.evening-theme .container {
  background: url(images/container-bg-evening.jpg) no-repeat;
  background-size: cover;
}

.evening-theme .swiper-cube .swiper-cube-shadow:before {
  background-color: black;
}

.evening-theme .demo {
  -webkit-box-shadow: 0 0 5px #00000070;
          box-shadow: 0 0 5px #00000070;
}

.refresh .btn-refresh {
  width: 40px;
  height: 40px;
  background: transparent url(images/refresh.png) 50% 50%;
  background-size: contain;
  border: none;
  outline: none;
  border-radius: 5px;
}

.refresh .btn-refresh:hover {
  -webkit-transform: rotate(360deg);
          transform: rotate(360deg);
  -webkit-transition: 3s;
  transition: 3s;
  cursor: pointer;
}

.demo {
  border: none;
  height: 35px;
  width: 200px;
  border-radius: 10px;
  color: black;
  outline: none;
  padding: 0 15px;
  font-size: 15px;
  -webkit-box-shadow: 0 0 5px #fff;
          box-shadow: 0 0 5px #fff;
}

.get {
  height: 35px;
  background-color: #52aa3c;
  font-size: 15px;
  color: #fff;
  text-transform: uppercase;
  font-weight: bold;
  text-shadow: 0 0 5px black;
  border-radius: 10px;
  width: 100px;
  text-align: center;
  outline: none;
  border: none;
  -webkit-box-shadow: 0 0 5px black;
          box-shadow: 0 0 5px black;
}

.get:hover {
  cursor: pointer;
  -webkit-box-shadow: 0 0 5px greenyellow;
          box-shadow: 0 0 5px greenyellow;
  -webkit-transition: 1s;
  transition: 1s;
}

@media (max-width: 767px) {
  .container {
    width: 100%;
  }
  .demo {
    margin: 0 0 10px 0;
  }
  .weather {
    width: 100%;
  }
  .swiper {
    margin: 0;
  }
  .swiper .swiper-slide {
    width: 200px;
  }
  body .col-xs-2 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 16.66667%;
            flex: 0 0 16.66667%;
    max-width: 16.66667%;
  }
  body .col-xs-3 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 25%;
            flex: 0 0 25%;
    max-width: 25%;
  }
  body .col-xs-4 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 33.33333%;
            flex: 0 0 33.33333%;
    max-width: 33.33333%;
  }
  body .col-xs-5 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 41.66666%;
            flex: 0 0 41.66666%;
    max-width: 41.66666%;
  }
  body .col-xs-6 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 50%;
            flex: 0 0 50%;
    max-width: 50%;
  }
  body .col-xs-7 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 58.33333%;
            flex: 0 0 58.33333%;
    max-width: 58.33333%;
  }
  body .col-xs-8 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 66.66666%;
            flex: 0 0 66.66666%;
    max-width: 66.66666%;
  }
  body .col-xs-10 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 83.33333%;
            flex: 0 0 83.33333%;
    max-width: 83.33333%;
  }
  body .col-xs-12 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
    max-width: 100%;
  }
  .container {
    padding: 0 30px 15px 30px;
  }
  .container div {
    text-align: center;
  }
  .container .icon {
    margin-top: 10px;
  }
  .container .icon img {
    height: 100%;
  }
  .time {
    font-size: 35px;
  }
  .date {
    font-size: 20px;
    font-weight: bold;
  }
  .humidity,
  .wind,
  .pressure,
  .feels-like {
    height: 20px;
    line-height: 20px;
    font-size: 14px;
  }
  .description {
    font-size: 26px;
    margin-bottom: 0px;
  }
  .row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    margin: 0;
  }
  .get {
    height: 35px;
    width: 45px;
    font-size: 12px;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .demo {
    margin: 0 0 10px 0;
  }
  .swiper {
    width: 70%;
  }
  .container {
    width: 90%;
    max-height: -webkit-fit-content;
    max-height: -moz-fit-content;
    max-height: fit-content;
  }
  body .col-sm-1 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 8.33333%;
            flex: 0 0 8.33333%;
    max-width: 8.33333%;
  }
  body .col-sm-2 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 16.66667%;
            flex: 0 0 16.66667%;
    max-width: 16.66667%;
  }
  body .col-sm-3 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 25%;
            flex: 0 0 25%;
    max-width: 25%;
  }
  body .col-sm-4 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 33.33333%;
            flex: 0 0 33.33333%;
    max-width: 33.33333%;
  }
  body .col-sm-6 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 50%;
            flex: 0 0 50%;
    max-width: 50%;
  }
  body .col-sm-7 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 58.33333%;
            flex: 0 0 58.33333%;
    max-width: 58.33333%;
  }
  body .col-sm-8 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 66.66667%;
            flex: 0 0 66.66667%;
    max-width: 66.66667%;
  }
  body .col-sm-9 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 75%;
            flex: 0 0 75%;
    max-width: 75%;
  }
  body .col-sm-10 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 83.33333%;
            flex: 0 0 83.33333%;
    max-width: 83.33333%;
  }
  body .col-sm-12 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
    max-width: 100%;
  }
}

@media (min-width: 992px) {
  .swiper {
    width: 70%;
  }
  .container {
    width: 90%;
  }
  body .col-md-1 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 8.33333%;
            flex: 0 0 8.33333%;
    max-width: 8.33333%;
  }
  body .col-md-2 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 16.66667%;
            flex: 0 0 16.66667%;
    max-width: 16.66667%;
  }
  body .col-md-3 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 25%;
            flex: 0 0 25%;
    max-width: 25%;
  }
  body .col-md-4 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 33.33333%;
            flex: 0 0 33.33333%;
    max-width: 33.33333%;
  }
  body .col-md-5 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 41.66666%;
            flex: 0 0 41.66666%;
    max-width: 41.66666%;
  }
  body .col-md-6 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 50%;
            flex: 0 0 50%;
    max-width: 50%;
  }
  body .col-md-7 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 58.33333%;
            flex: 0 0 58.33333%;
    max-width: 58.33333%;
  }
  body .col-md-8 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 66.66666%;
            flex: 0 0 66.66666%;
    max-width: 66.66666%;
  }
  body .col-md-9 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 75%;
            flex: 0 0 75%;
    max-width: 75%;
  }
  body .col-md-10 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 83.33333%;
            flex: 0 0 83.33333%;
    max-width: 83.33333%;
  }
  .row {
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
  }
  .user-input {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .submit {
    margin-left: 25px;
  }
}

@media (min-width: 1200px) {
  .swiper {
    width: 45%;
  }
  .container {
    width: 90%;
  }
  .background {
    padding: 50px 20px;
  }
  body .col-md-1 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 8.33333%;
            flex: 0 0 8.33333%;
    max-width: 8.33333%;
  }
  body .col-md-2 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 16.66667%;
            flex: 0 0 16.66667%;
    max-width: 16.66667%;
  }
  body .col-md-3 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 25%;
            flex: 0 0 25%;
    max-width: 25%;
  }
  body .col-md-4 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 33.33333%;
            flex: 0 0 33.33333%;
    max-width: 33.33333%;
  }
  body .col-md-5 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 41.66666%;
            flex: 0 0 41.66666%;
    max-width: 41.66666%;
  }
  body .col-md-6 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 50%;
            flex: 0 0 50%;
    max-width: 50%;
  }
  body .col-md-7 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 58.33333%;
            flex: 0 0 58.33333%;
    max-width: 58.33333%;
  }
  body .col-md-8 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 66.66666%;
            flex: 0 0 66.66666%;
    max-width: 66.66666%;
  }
  body .col-md-9 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 75%;
            flex: 0 0 75%;
    max-width: 75%;
  }
  body .col-md-10 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 83.33333%;
            flex: 0 0 83.33333%;
    max-width: 83.33333%;
  }
}
/*# sourceMappingURL=style.css.map */
